@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?endsoi');
  src: url('fonts/icomoon.eot?endsoi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?endsoi') format('truetype'),
    url('fonts/icomoon.woff?endsoi') format('woff'),
    url('fonts/icomoon.svg?endsoi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: '\e903';
}
.icon-x:before {
  content: '\e902';
}
.icon-instagram:before {
  content: '\e900';
}
.icon-menu:before {
  content: '\e901';
}
